.nav-box {
    border-bottom: grey 3px solid;
    margin-bottom: 3%;
}

.box {
    margin-bottom: 3%;
}

.logo {
    width: 100px;
    height: auto;
    float:left;
}
.project-title {
    margin-bottom: 3%;
    color: #bcbbbb;
}

.main-image {
    width: 100%;
}
.img-title {
    color: #747704 !important;
}

.nav-title {
    text-align: right;
    color: #747704;
}

